@font-face {
    font-family: 'p';
    src: url('/static/fonts/Poppins-Regular.ttf');
}



:root{

    --primary-color:#0b0b0b;
    --card-color:#222222;
    --font-color:white;
    --secondary-color:rgb(102, 117, 255);
    --circle-primary:rgb(68, 68, 68);
    --circle-present:rgb(71, 255, 71);
    --circle-absent:rgb(255, 89, 89);

}

.row{

    display: flex;
    align-items: center;
    gap: 1.3em;
}

a{
    text-decoration: none;
    color: var(--font-color);
    opacity: 60%;

}

body{

    background-color: var(--primary-color);
    font-family: 'p';
    color: var(--font-color);
    margin: 0 5vw;

}



.link{
    
    color: rgb(23, 255, 255);
    font-size: 1.2em;
    
}
/* ==================================================================================================--Navbar--=================================================================================================== */

.navbar{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.dull{

    opacity: 60%;
    font-size: 1.1em;
    text-transform: capitalize;
}

.name{

    opacity: 60%;
    font-size: 1.1em;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    

}
/* ==================================================================================================--Home--=================================================================================================== */

.container{

    /* height: 90vh; */
    /* width: 100vw; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30vh;

}

/* ==================================================================================================--Forms--=================================================================================================== */

.form{
    position: relative;
    width: 25%;
    left: 38%;
    top: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login-form{
    position: relative;
    width: 20%;
    left: 38%;
    top: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.create-form{

    position: relative;
    width: 25%;
    left: 38%;
    height: 70vh;
    top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.2em;
    background-color: #0f0f0f;
    border-radius: 15px;

}

.form-row{
    width: 100%;
    display: flex;
    gap: 2em;
    margin-top: 10%;
    justify-content: space-between;
    height: 30px;
}

.btn{

    padding: 1.1em 2em;
    margin-top: 10%;
    color: var(--font-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 15px;

}

.form-field{

    background-color: #252525;
    border: none;
    border-radius: 10px;
    color: var(--font-color);
    padding: 1.2rem 1em;
}

.form-top{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.form-field:focus{

    outline: none;

}

.flash{

    position: absolute;
    top: 80vh;
    right: 5vw;
    background-color: var(--card-color);
    border-radius: 20px;

}

.record-flash{

    position: absolute;
    top: 70vh;
    right: 10vw;

}

.message{

    background-color: #252525;
    padding: 1.2em;
    border-radius: 10px;

}

/* ==================================================================================================--Report--=================================================================================================== */

.report-wrapper{

    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left,.right{

    width: 50%;
}

.right{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: .6;
    /* padding: 0 2em; */
}

.small{

    background-color: var(--card-color);
    height: 10%;
    width: 65vw ;
    border-radius: 1.5em;
    margin:  7% 0 ;
    display: flex;
    align-items: center;
}

.right-small{
    
    background-color: var(--card-color);
    height: 10%;
    width: 20vw ;
    border-radius: 1.5em;
    margin:  7% 0 ;
    display: flex;
    align-items: center;
}

.header-row{

    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 5%;

}
.icon{

    height: 28px;
    width: 28px;
    filter: invert(100%) sepia(1%) saturate(6878%) hue-rotate(118deg) brightness(115%) contrast(100%);
}

.search{

    opacity: 60%;
    display: flex;
    align-items: center;
    /* margin-right: 2em; */
    cursor: pointer;
}

.large{

    
    background-color: var(--card-color);
    height: auto;
    width: 20vw;
    border-radius: 1.5em;
    padding: 2em 0;
}

.left-large{

    /* position: relative; */
    background-color: var(--card-color);
    height: 70%;
    width: 65vw;
    border-radius: 1.5em;
    margin: 0;
    text-align: center;
    overflow: scroll;

}

.table {

    margin: 2em 5%  ;
    width: 95%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0 1em;
    overflow-y: scroll;
}

.table th {

    font-size: 1.1em;
    margin-bottom: 2em;
    transform: translateY(-1em);
}



.table tr{
    margin: 2em;
    transform: translateY(20px);
}

.circle-red{

    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: var(--circle-absent);
    

}

.circle-green{

    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: var(--circle-present);


}

.column{

    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 2em;
    

}

.half-row{

    display: flex;
    align-items: center;
    margin-top: 2em;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    
    .report-wrapper{
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5em;
     } 
    .left,.right{
        width: 100%;
        height: 50vh;

    }
/*  

    .small{

        width: 100%;

    }

    .header-row{

        width: 100%;
        height: 8vh;
    }

    .date{

        width: 100%;
        height: 10%;
        margin-top: 2em;
    }

    .large{

        width: 100%;
        height: 90%;
        margin: 2em 0;
    } */
}