@font-face {
    font-family: 'p';
    src: url('/static/fonts/Poppins-Regular.ttf');
}



:root{

    --primary-color:#0b0b0b;
    --font-color:white;
    --secondary-color:rgb(102, 117, 255);

}

.row{

    display: flex;
    align-items: center;
    gap: 1.3em;
}

a{
    text-decoration: none;
    color: var(--font-color);
    opacity: 60%;

}

body{

    background-color: var(--primary-color);
    font-family: 'p';
    color: var(--font-color);
    margin: 0 5vw;

}



.link{
    
    color: rgb(23, 255, 255);
    font-size: 1.2em;
    
}
/* ==================================================================================================--Navbar--=================================================================================================== */

.navbar{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.dull{

    opacity: 60%;
    font-size: 1.1em;

}
/* ==================================================================================================--Home--=================================================================================================== */

.container{

    /* height: 90vh; */
    /* width: 100vw; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 30vh;

}

/* ==================================================================================================--Forms--=================================================================================================== */

.form{
    position: relative;
    width: 25%;
    left: 38%;
    top: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login-form{
    position: relative;
    width: 20%;
    left: 38%;
    top: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-row{
    width: 100%;
    display: flex;
    gap: 2em;
    margin-top: 10%;
    justify-content: space-between;
    height: 30px;
}

.btn{

    padding: 1.1em 2em;
    margin-top: 10%;
    color: var(--font-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 15px;

}

.form-field{

    background-color: #252525;
    border: none;
    border-radius: 10px;
    color: var(--font-color);
    padding: 1.2rem 1em;
}

.form-field:focus{

    outline: none;

}

.flash{

    position: absolute;
    top: 70vh;
    right: 45vw;

}

.message{

    background-color: #252525;
    padding: 1.2em;
    border-radius: 10px;

}

/* ==================================================================================================--Report--=================================================================================================== */

.report-container{

    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    row-gap: 10px;

}

.cards{

    background-color: var(--secondary-color);
    height: 10%;
    width: 80%;

}

.cardl{

    
    background-color: var(--secondary-color);
    height: 80%;
    width: 80%;

}

@media screen and (max-width:768px) {
    
    .report-container{

        display: grid;
        grid-template-rows: 1fr none;
    }

}