{% extends 'base.html' %}
{% block content %}

    <form action="" method="POST" class="form">
        <h3 class="title">Signup</h3>
        {% csrf_token %}
        {% for field in form  %}
        
        <div class="form-row">

            <div class="label">{{field.label}}</div>
            {{field}}
        </div>

        {% endfor %}
        <input type="submit" class="btn" value="submit">
    </form>

    <div class="flash">

        {{form.errors}}
        

    </div>

{% endblock content %}